.score{
	position:relative;
	left:250px;
	top:-40px;
	/* display:flex;
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: stretch; */
}

.reply{
	position:relative;
	left:-260px;
	/* right:-400px; */
	bottom:-15px;
	color: #9c9c9c;
	border-width: 0px;
	padding: 10px;
	font-weight: bold;
	background-color: transparent;

}

.postHeader{
color:rgb(98, 98, 217);
font-weight: bold;
display:flex;
justify-content: flex-start;
}

.postBody{
display:flex;
justify-content: flex-start;
}